py-cord            # Let py-cord decide its own aiohttp version
python-dotenv==1.0.1
motor==3.3.2
beanie==1.25.0
# aiohttp==3.9.5   # REMOVE THIS LINE
msgspec==0.17.0    # Keep msgspec pinned, but be ready to change
